.HomePage {
}

.transactionCards {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 100px;
}

@media screen and (max-width: 1200px) {
  .transactionCards {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media screen and (max-width: 750px) {
  .transactionCards {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.toolBar {
  margin: 100px 0 0;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}

#createButton {
}

.hideCard {
  display: none;
}
